<add-edit-shell>
    <shell-title>
        <h3>Save Category. <small class="text-muted">Please input category details.</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addCategoryForm">
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label for="category">Category</label>
                    <input type="text" name="category" ng-model="ctrl.category.name" focus-me="ctrl.defaultFocus" required />
                </div>
                <ul class="list-unstyled" ng-show="ctrl.category.subcategories.length > 0">
                    <li>
                        <b>Subcategories</b>
                    </li>
                    <li ng-repeat="c in ctrl.category.subcategories track by $index">
                        <div class="input-group input-group-sm bottom-margin-sm">
                            <input class="form-control input-sm wide" type="text" name="subcategory" ng-model="c.name" focus-me="c.focus" required />
                            <span class="input-group-btn">
                                <button ng-click="ctrl.removeSubcategory($index)" class="btn btn-sm">
                                    <i class="fa fa-times text-danger"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-sm btn-primary" ng-click="ctrl.addSubcategory()">
                    <i class="fa fa-plus"></i> Add subcategory
                </button>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <form-control on-save="ctrl.save()" on-reset="ctrl.reset()"
                      save-enabled="!ctrl.addCategoryForm.$pristine && ctrl.addCategoryForm.$valid && ctrl.saveEnabled"></form-control>
    </shell-controls>
</add-edit-shell>