<add-edit-shell>
    <shell-title>
        <h3>Save Borrower. <small class="text-muted">Please input borrower details.</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addBorrowerForm">
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label for="borrower">Name</label>
                    <input type="text" name="borrower" ng-model="ctrl.borrower.name" focus-me="ctrl.defaultFocus" required />
                </div>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <form-control on-save="ctrl.save()" on-reset="ctrl.reset()"
                      save-enabled="!ctrl.addBorrowerForm.$pristine && ctrl.addBorrowerForm.$valid && ctrl.saveEnabled"></form-control>
    </shell-controls>
</add-edit-shell>