<navigation></navigation>
<loading-indicator></loading-indicator>
<div class="home-container">
    <h3 class="welcome-text"><i class="fa fa-clipboard"></i> Welcome to Stockroom Manager.</h3>
    <div class="col-md-8 left-padding-none">
        <h4> <i class="fa fa-exchange"></i> Recent activities.</h4>
        <p>Displaying recent stockroom activities. To view all activities, click <a ui-sref="activity.log">here</a>.</p>
        <ul class="list-unstyled recent-activities">
            <li ng-repeat="act in ctrl.recentActivities track by act.id">
                <div>
                    <em>{{ act.borrowedBy }} {{ act.actionPerformed }} {{ act.quantityBorrowed }} {{ act.unit }} of {{ act.materialName }}.</em>
                    <span class="pull-right">{{ act.date | date:'MM/dd/yyyy' }}</span>
                </div>
                <div class="small">
                    <span ng-show="act.totalQuantityReturned == 0" class="text-info">
                        <i class="fa fa-info-circle"></i> No return information found.
                    </span>
                    <span ng-show="act.balance == 0" class="text-success">
                        <i class="fa fa-check-circle"></i> All materials returned.
                    </span>
                    <span ng-show="act.balance > 0 && act.balance != act.quantityBorrowed" class="text-warning">
                        <i class="fa fa-info-circle"></i> {{ act.totalQuantityReturned }} {{ act.unit }} returned / exchanged.
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="quick-box">
            <ul class="list-unstyled quick-list">
                <li><a ui-sref="activity.borrow" permission permission-only="['admin','canWrite']"><i class="fa fa-wrench fa-fw"></i> Borrow Tools</a></li>
                <li><a ui-sref="activity.consume" permission permission-only="['admin','canWrite']"><i class="fa fa-paperclip fa-fw"></i> Use Consumables</a></li>
                <li><a ui-sref="activity.return" permission permission-only="['admin','canWrite']"><i class="fa fa-mail-reply fa-fw"></i> Make a Return</a></li>
                <li><a ui-sref="inventory.add({id:0})" permission permission-only="['admin','canWrite']"><i class="fa fa-plus fa-fw"></i> Add New Materials</a></li>
                <li><a ui-sref="inventory.list" permission permission-only="['admin','canView','canWrite']"><i class="fa fa-database fa-fw"></i> View Inventory</a></li>
            </ul>
        </div>
        <div class="quick-box" permission permission-only="'admin'">
            <ul class="list-unstyled quick-list">
                <li><a ui-sref="system.add-borrower({id:0})"><i class="fa fa-user-plus"></i> Add Borrowers</a></li>
                <li><a ui-sref="system.list-borrowers"><i class="fa fa-search"></i> View Borrowers</a></li>
            </ul>
        </div>
        <div ng-show="ctrl.lowStock.length > 0">
            <div class="alert alert-danger border-radius-none">
                <b><i class="fa fa-exclamation-triangle"></i> Low stock detected. ({{ ctrl.lowStock.length }})</b>
            </div>
            <table class="table table-condensed table-striped summary-table">
                <thead>
                    <tr>
                        <th><span>Material</span></th>
                        <th><span>Qty Remaining</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.lowStock track by item.id">
                        <td>{{ item.name }}</td>
                        <td>{{ item.remainingQuantity | number:0 }} {{ item.unit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>