<add-edit-shell>
    <shell-title>
        <h3>Save Material. <small class="text-muted">Please input material details.</small></h3>
    </shell-title>
    <shell-form>
        <form name="ctrl.addItemForm">
            <div form-input>
                <label for="type">Material Type</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="typeOptions" value="1"
                               checked ng-model="ctrl.item.typeId"> Tool
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typeOptions" value="2"
                               ng-model="ctrl.item.typeId"> Consumable
                    </label>
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label for="name">Material Name</label>
                    <input type="text" name="name" ng-model="ctrl.item.name" focus-me="ctrl.defaultFocus" required />
                </div>
                <div form-input>
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" ng-model="ctrl.item.quantity" ng-disabled="!ctrl.quantityEnabled" required />
                </div>
                <div form-input>
                    <label for="unit">Unit</label>
                    <input type="text" name="unit" ng-model="ctrl.item.unit" required />
                </div>
                <div form-input>
                    <label for="brand">Brand</label>
                    <input type="text" name="brand" ng-model="ctrl.item.brand" required />
                </div>
                <div form-input>
                    <label for="model">Model</label>
                    <input type="text" name="model" ng-model="ctrl.item.model" required />
                </div>
                <div form-input>
                    <label for="size">Size</label>
                    <input type="text" name="size" ng-model="ctrl.item.size" required />
                </div>
                <div form-input>
                    <label for="use">Use</label>
                    <input type="text" name="use" ng-model="ctrl.item.use" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none" ng-show="ctrl.showConsumableFields">
                <div form-input>
                    <label for="category">Category</label>
                    <select name="category" ng-options="c.id as c.name for c in ctrl.categoryList " ng-model="ctrl.item.categoryId"></select>
                </div>
                <div form-input>
                    <label for="subcategory">Subcategory</label>
                    <select name="subcategory" ng-options="c.id as c.name for c in ctrl.subcategoryList"  ng-model="ctrl.item.subCategoryId"></select>
                </div>
                <div form-input>
                    <label for="location">Location</label>
                    <input type="text" name="location" ng-model="ctrl.item.location" />
                </div>
                <div form-input>
                    <label for="supplier">Supplier</label>
                    <select name="supplier" ng-options="s.id as s.name for s in ctrl.supplierList" ng-model="ctrl.item.supplierId"></select>
                </div>
                <div form-input>
                    <label for="price">Price</label>
                    <input type="text" name="price" ng-model="ctrl.item.price" numeric-textbox="{ currencySymbol: '₱ '}" />
                </div>
                <div form-input>
                    <label for="minimumStock">Minimum Stock</label>
                    <input type="number" name="minimumStock" ng-model="ctrl.item.minimumStock" />
                </div>
                <div form-input>
                    <label for="reorderQuantity">Reorder Qty</label>
                    <input type="number" name="reorderQuantity" ng-model="ctrl.item.reorderQuantity" />
                </div>
            </div>
        </form>
    </shell-form>
    <shell-controls>
        <form-control on-save="ctrl.save()" on-reset="ctrl.reset()"
                      save-enabled="!ctrl.addItemForm.$pristine && ctrl.addItemForm.$valid && ctrl.saveEnabled"></form-control>
    </shell-controls>
</add-edit-shell>