<add-edit-shell>
    <shell-title>
        <h3>Save Inventory Item. <small class="text-muted">Please input item details.</small></h3>
    </shell-title>
    <shell-form>
        <form name="addItemForm">
            <div form-input>
                <label for="type">Item Type</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="typeOptions" value="Material"
                               checked ng-model="ctrl.item.type"> Material
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typeOptions" value="Consumable"
                               ng-model="ctrl.item.type"> Consumable
                    </label>
                </div>
            </div>
            <div class="col-md-3 left-padding-none">
                <div form-input>
                    <label for="name">Item Name</label>
                    <input type="text" name="name" ng-model="ctrl.item.name" focus-me="ctrl.defaultFocus" />
                </div>
                <div form-input>
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" ng-model="ctrl.item.quantity" />
                </div>
                <div form-input>
                    <label for="unit">Unit</label>
                    <input type="text" name="unit" ng-model="ctrl.item.unit" />
                </div>
                <div form-input>
                    <label for="size">Size / Model</label>
                    <input type="text" name="size" ng-model="ctrl.item.size" />
                </div>
                <div form-input>
                    <label for="brand">Brand</label>
                    <input type="text" name="brand" ng-model="ctrl.item.brand" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none" ng-show="ctrl.showConsumableFields">
                <div form-input>
                    <label for="category">Category</label>
                    <select name="category" ng-model="ctrl.item.categoryId"></select>
                </div>
                <div form-input>
                    <label for="subcategory">Subcategory</label>
                    <select name="subcategory" ng-model="ctrl.item.subcategoryId"></select>
                </div>
                <div form-input>
                    <label for="location">Location</label>
                    <input type="text" name="location" ng-model="ctrl.item.location" />
                </div>
                <div form-input>
                    <label for="supplier">Supplier</label>
                    <select name="supplier" ng-model="ctrl.item.supplierId"></select>
                </div>
                <div form-input>
                    <label for="price">Price</label>
                    <input type="text" name="price" ng-model="ctrl.item.price" numeric-textbox="{ currencySymbol: '₱ '}" />
                </div>
            </div>
            <div class="col-md-3 left-padding-none" ng-show="ctrl.showConsumableFields">
                <div form-input>
                    <label for="minimumStock">Minimum Stock</label>
                    <input type="number" name="minimumStock" ng-model="ctrl.item.minimumStock" />
                </div>
            </div>
        </form>
    </shell-form>
</add-edit-shell>