<summary-shell>
    <shell-title>
        <h3>Material Inventory. <small class="text-muted">Search the inventory.</small></h3>
    </shell-title>
    <shell-search>
        <div search-input>
            <span title="Search material via keyword"><i class="fa fa-search fa-fw"></i></span>
            <input placeholder="Search Material..." ng-model="ctrl.filters.searchTerm" focus-me="ctrl.focus" />
        </div>
        <div search-input>
            <span title="Search by material type"><i class="fa fa-bookmark fa-fw"></i></span>
            <select ng-model="ctrl.filters.typeId">
                <option value="0">Filter by type..</option>
                <option value="1">Tool</option>
                <option value="2">Consumable</option>
            </select>
        </div>
        <div search-input>
            <span title="Search by category"><i class="fa fa-file fa-fw"></i></span>
            <select ng-model="ctrl.filters.categoryId" ng-options="c.id as c.name for c in ctrl.categoryList"></select>
        </div>
        <div search-input>
            <span title="Search by subcategory"><i class="fa fa-file fa-fw"></i></span>
            <select ng-model="ctrl.filters.subCategoryId" ng-options="c.id as c.name for c in ctrl.subcategoryList"></select>
        </div>
        <div search-input>
            <span title="Show items with low quantities"><i class="fa fa-exclamation-triangle fa-fw"></i></span>
            <input readonly value="Low stock" />
            <span class="input-group-addon" style="line-height: 0.5;">
                <input type="checkbox" ng-model="ctrl.filters.lowStock" />
            </span>
        </div>
        <button class="btn btn-primary btn-sm" ng-click="ctrl.fetchItems()">
            <i class="fa fa-search"></i> Search
        </button>
    </shell-search>
    <shell-table>
        <table class="table table-condensed table-striped summary-table">
            <thead>
                <tr>
                    <th ng-repeat="header in ctrl.headers track by $index" ng-class="header.class">
                        <column-header header-text="{{ header.text }}" header-value="{{ header.value }}" sort="ctrl.filters.sortBy"
                                       sort-direction="ctrl.filters.sortDirection"
                                       fetch-call-back="ctrl.fetchItems()"></column-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in ctrl.summaryResult.items track by c.id">
                    <td>{{ c.name }}</td>
                    <td class="text-center">({{ c.remainingQuantity | number:0 }}) {{ c.quantity | number:0 }} {{ c.unit }}</td>
                    <td>{{ c.typeCode }}</td>
                    <td>{{ c.categoryname | noValue }}</td>
                    <td>{{ c.subCategoryName | noValue }}</td>
                    <td>{{ c.brand | noValue }}</td>
                    <td>{{ c.model | noValue }}</td>
                    <td>{{ c.size | noValue }}</td>
                    <td class="text-center">
                        <summary-controls show-details="true" details-state="inventory.details({ id: {{ c.id }} })" details-title="View material details."
                                          show-edit="true" edit-state="inventory.add({ id: {{ c.id }} })" edit-title="Edit this material."
                                          show-delete="true" on-delete="ctrl.delete(c.id)" delete-title="Delete this material.">
                        </summary-controls>
                    </td>
                </tr>
                <tr no-records ng-if="ctrl.summaryResult.items.length == 0" colspan="9"></tr>
            </tbody>
        </table>
    </shell-table>
</summary-shell>